{{ $filePath := print "/content/" .Page.File.Dir }}
{{ $img := imageConfig (add $filePath (.Destination | safeURL)) }}


<figure>
    {{ if .Title }}
        <figure>
            <img
                class="lozad"
                data-src="{{ .Destination | safeURL }}"
                alt="{{ .Text }}"
                width="{{ $img.Width }}"
                height="{{ $img.Height }}"
            />
            <figcaption>{{ .Title }}</figcaption>
        </figure>
    {{ else }}
        <img
            class="lozad"
            data-src="{{ .Destination | safeURL }}"
            alt="{{ .Text }}"
            width="{{ $img.Width }}"
            height="{{ $img.Height }}"
        />
    {{ end }}
</figure>
