@font-face {
    font-family: FiraCode;
    src: url("../fonts/FiraCode-Regular.woff2");
    font-weight: 400;
}

@font-face {
    font-family: FiraCode;
    src: url("../fonts/FiraCode-Bold.woff2");
    font-weight: 700;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    max-height: 600px;
    overflow-y: hidden;
}

.header-img {
    width: 100%;
}

.header-credit {
    text-align: center;
    margin-top: 10xp;
    margin-bottom: 0;
    font-family: "Lora", serif;
    color: rgb(108, 111, 114);
}

.header-credit a {
    text-decoration: none;
    color: rgb(228, 67, 39);
}

.main {
    margin-top: 50px;
    margin-bottom: 100px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.main-container {
    width: 1000px;
    display: flex;
    column-gap: 40px;
}

.sidebar {
    flex-basis: 200px;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

.sidebar a {
    text-decoration: none;
    color: black;
}

.sidebar-avatar {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px;
}

.sidebar-avatar-img {
    width: 100%;
}

.sidebar-title {
    font-size: 30px;
    padding-bottom: 20px;
}

.sidebar-link {
    width: 100%;
}

.content {
    font-family: "Lora", serif;
}

.content p {
    line-height: 32.3px;
    font-size: 17px;
    margin: 30px 0;
    color: rgb(108, 111, 114);
}

.content p:first-of-type::first-letter {
    font-size: 3.57rem;
    line-height: 1em;
    font-weight: 700;
    margin: 0.1em 0.35em 0 0;
    color: rgb(18, 20, 24);
    float: left;
}

h2 + p::first-letter {
    font-size: 3.57rem;
    line-height: 1em;
    font-weight: 700;
    margin: 0.1em 0.35em 0 0;
    color: rgb(18, 20, 24);
    float: left;
}

.content h1 {
    margin-top: 0;
    font-size: 50px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    color: rgb(18, 20, 24);
}

.content h2 {
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    color: rgb(18, 20, 24);
}

.content time {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: rgb(108, 111, 114);
}

.content figure {
    margin: 0;
}

.content figcaption {
    text-align: center;
    color: rgb(108, 111, 114);
    font-family: "Lora", serif;
}

.content pre {
    padding: 20px;
}

.content img {
    width: 100%;
}

code {
    font-family: "FiraCode";
}

.post {
    margin-bottom: 50px;
}

.post-title {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 33.5px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
}

.post-title-link {
    text-decoration: none;
    color: black;
    font-family: "Inter", sans-serif;
    font-weight: 600;
}

.post-summary {
    text-decoration: none;
    color: black;
}

.footer {
    padding: 5px 0 5px 15px;
    border-top: 1px solid #eee;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: rgb(108, 111, 114);
}
