{{ define "main" }}
    {{- partial "facebookChatPlugin.html" . -}}


    <div class="flex main">
        <div class="flex position-relative main-container">
            {{- partial "sidebar.html" . -}}


            <div class="content">
                <div class="content-container" id="list-contents">
                    {{ partial "listPost.html" . }}
                </div>
            </div>

            {{ partial "archivePost.html" . }}

            {{ partial "buyMeCoffee.html" . }}
        </div>
    </div>
{{ end }}
