{{ define "main" }}
<div class="main">
    <div class="main-container">
        {{- partial "sidebar.html" . -}}
        <div class="content">
            <div class="content-container">
                <h1>{{ .Title }}</h1>
                {{ partial "metadata.html" . }}

                <br /><br />

                {{ .Content }}
            </div>

            <div class="main-footer">
                {{ partial "tags.html" . }} {{ partial "social.html" . }}
            </div>

            <div class="comments-container">
                {{ partial "comments.html" . }}
            </div>
        </div>

        {{ partial "tableOfContent.html" . }}
    </div>
</div>
{{ end }}
