{{ define "main" }}
<div class="main">
    <div class="main-container">
        {{- partial "sidebar.html" . -}}
        <div class="content">
            <div class="content-container">
                <h1>{{ .Title }}</h1>
                {{ partial "metadata.html" . }}

                <br /><br />

                {{ .Content }}
            </div>
            <div class="tags">
                {{- with .Params.tags -}} {{- if ge (len .) 1 -}} {{- range .
                -}}
                <a href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}/"
                    >#{{ . }}</a
                >
                {{ end -}} {{- end -}} {{- end -}}
            </div>
        </div>
        {{ if gt (len .TableOfContents) 80}}
        <div class="table-of-content">
            <h3>Table of contents</h3>
            {{ .TableOfContents }}
        </div>
        {{ end }}
    </div>
</div>
{{ end }}
