<div class="header">
    {{ if .IsPage }}
    <img src="{{ .Params.image }}" class="header-img" alt="Profile" />
    {{ else }}
    <img src="/images/cover.webp" class="header-img" alt="Profile" />
    {{ end }}
</div>

{{ if .IsPage }}
<p
    class="text-align-center font-serif font-normal secondary-color header-credit"
>
    Photo by
    <a href="{{ .Params.creditAuthorLink }}">{{ .Params.creditAuthor }}</a>
    on <a href="{{ .Params.creditUnsplash }}">Unsplash</a>
</p>
{{ else }}
<p
    class="text-align-center font-serif font-normal secondary-color header-credit"
>
    Photo by
    <a
        href="https://unsplash.com/@hportillo?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
        >Humberto Portillo</a
    >
    on
    <a
        href="https://unsplash.com/t/nature?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
        >Unsplash</a
    >
</p>
{{ end }}
