<div class="header">
    {{ $imagePath := "/images/cover.webp" }} {{ if .IsPage }} {{ $imagePath =
    .Params.image }} {{ end }} {{ $image := .Resources.GetMatch $imagePath }}

    <img
        src="{{ $imagePath }}"
        id="header-img"
        class="header-img"
        alt="Profile"
    />
</div>

{{ if .IsPage }}
<p
    class="text-align-center font-serif font-normal secondary-color header-credit"
>
    Photo by
    <a href="{{ .Params.creditAuthorLink }}">{{ .Params.creditAuthor }}</a>
    on <a href="{{ .Params.creditUnsplash }}">Unsplash</a>
</p>
{{ else }}
<p
    class="text-align-center font-serif font-normal secondary-color header-credit"
>
    Photo by
    <a
        href="https://unsplash.com/@hportillo?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
        >Humberto Portillo</a
    >
    on
    <a
        href="https://unsplash.com/t/nature?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
        >Unsplash</a
    >
</p>
{{ end }}
