<script src="/js/lazyLoad.bundle.js"></script>
<script src="/js/index.bundle.js"></script>
<script src="/js/solana.bundle.js"></script>
<script src="/js/vendors.bundle.js"></script>
<script src="/js/runtime.bundle.js"></script>
<script async defer src="https://buttons.github.io/buttons.js"></script>
<script>
    if ("serviceWorker" in navigator) {
        navigator.serviceWorker
            .register("service-worker.js", {
                scope: "/",
            })
            .then(function (registration) {
                console.log("Service Worker Registered");
            });

        navigator.serviceWorker.ready.then(function (registration) {
            console.log("Service Worker Ready");
        });
    }
</script>
<!-- <script src="/js/scrollbar.js"></script> -->
