<div class="sidebar">
    <div class="sidebar-container">
        <div class="sidebar-avatar">
            <img
                src="/images/avatar.jpg"
                class="sidebar-avatar-img"
                alt="Avatar"
            />
        </div>
        <div class="sidebar-title">
            <a href="/">DevOT blog</a>
        </div>
        <div class="sidebar-link">
            Github:
            <a href="https://github.com/Nguyen-Hoang-Nam"> Nguyen-Hoang-Nam </a>
        </div>
    </div>
</div>
