<div class="sidebar">
    <div class="sidebar-container">
        <div class="sidebar-avatar">
            <img
                src="/images/avatar.jpg"
                class="sidebar-avatar-img"
                alt="Avatar"
            />

            <div id="mode"></div>
        </div>

        <div class="sidebar-title">
            <a href="/">DevOT blog</a>
            {{ $url := urls.Parse .Permalink }} {{ $trimUrl :=
            strings.TrimPrefix "/en" $url.Path }}
        </div>

        <div class="sidebar-language">
            {{ if eq .Site.Language.Lang "vn" }}
            <p>vn</p>
            /
            <a href="/en{{ $trimUrl }}">en</a>
            {{ else }}
            <a href="{{ $trimUrl }}">vn</a> /
            <p>en</p>
            {{ end }}
        </div>

        <div class="sidebar-link">
            Github:
            <a href="https://github.com/Nguyen-Hoang-Nam"> Nguyen-Hoang-Nam </a>
        </div>
    </div>
</div>
