<div
    class="flex flex-column align-item-center font-sans-serif font-normal sidebar"
>
    <div class="sticky-table">
        <div class="position-relative sidebar-avatar">
            <img
                src="/images/avatar.webp"
                class="sidebar-avatar-img"
                alt="Avatar"
                width="200"
                height="200"
            />

            <div id="mode"></div>
        </div>

        <div class="text-align-center font-bold sidebar-title">
            <a href="/">DevOT blog</a>
            {{ partial "icons/rss.html" . }}

            {{ $url := urls.Parse .Permalink }}
            {{ $trimUrl :=
                strings.TrimPrefix "/en" $url.Path
            }}
        </div>

        <div
            class="text-align-center font-sans-serif font-normal primary-color sidebar-language"
        >
            {{ if eq .Site.Language.Lang "vn" }}
                <p>vn</p>
                <p class="sidebar-language-slash">/</p>
                <a href="/en{{ $trimUrl }}">en</a>
            {{ else }}
                <a href="{{ $trimUrl }}">vn</a> /
                <p>en</p>
            {{ end }}
        </div>

        <div class="flex align-item-center sidebar-social">
            <a
                class="primary-color resp-sharing-button__link"
                href="https://github.com/Nguyen-Hoang-Nam"
                target="_blank"
                rel="noopener"
                aria-label="Github profile"
            >
                {{ partial "icons/github.html" . }}
            </a>

            <a
                class="primary-color resp-sharing-button__link"
                href="https://www.linkedin.com/in/nam-nguy%E1%BB%85n-5b05711bb/"
                target="_blank"
                rel="noopener"
                aria-label="Linkedin profile"
            >
                {{ partial "icons/linkedin.html" . }}
            </a>

            <a
                class="primary-color resp-sharing-button__link"
                href="https://www.facebook.com/Devot-Blog-102484355762467"
                target="_blank"
                rel="noopener"
                aria-label="Facebook profile"
            >
                {{ partial "icons/facebook.html" . }}
            </a>

            <a
                class="primary-color resp-sharing-button__link"
                href="https://twitter.com/nguyenh79185323"
                target="_blank"
                rel="noopener"
                aria-label="Twitter profile"
            >
                {{ partial "icons/email.html" . }}
            </a>
        </div>

        <div class="sponsor">
            <p class="text-align-center">Buy me a coffee</p>
            <div class="flex sponsor-container">
                <button class="sponsor-button" id="connect-metamask">
                    {{ partial "icons/ethereum.html" . }}
                </button>

                <button class="sponsor-button" id="connect-phantom">
                    {{ partial "icons/solana.html" . }}
                </button>

                <button class="sponsor-button" id="connect-polygon">
                    {{ partial "icons/polygon.html" . }}
                </button>
            </div>
        </div>
    </div>
</div>
